// Fonte
$mainFont: 'Roboto', sans-serif;

// Cores de fundo
$mainBackgroundColor: #f5f6fa;
$headerBackgroundColor: #182C61;
$productButtonBgColor: #44bd32;

// Cores de texto
$menuTextColor: #fff;
$productButtonTextColor: #fff;

// Breakpoints
$mobileMaxWidth: 767px;
$tabletMaxWidth: 1023px;
